/* Nama warna */
.warna-nama {
    color: blue;
}

/* RGB */
.warna-rgb {
    color: rgb(255, 0, 0);
}

/* RGBA */
.warna-rgba {
    color: rgba(0, 255, 0, 0.7);
}

/* HSL */
.warna-hsl {
    color: hsl(240, 100%, 50%);
}

/* HSLA */
.warna-hsla {
    color: hsla(300, 100%, 50%, 0.5);
}